on:
  workflow_dispatch:

jobs:
  build:
    name: Build RPM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout assets
        run: git -c submodule."assets".update=checkout submodule update --init assets

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Install rpm tooling
        run: sudo apt-get update && sudo apt-get install -y rpm

      - name: Build RPM
        run: pnpm run make -- --targets rpm

      - name: Upload RPM artifact
        uses: actions/upload-artifact@v4
        with:
          name: rpm
          path: out/make/**/*.rpm
